<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpy.onsiteinform.center.mng.mapper.MngContentInfoDOMapper">
  <resultMap id="BaseResultMap" type="com.cpy.onsiteinform.center.mng.entity.MngContentInfoDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="top_category_id" jdbcType="INTEGER" property="topCategoryId" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="breviary_pic" jdbcType="VARCHAR" property="breviaryPic" />
    <result column="zh_demo_url" jdbcType="VARCHAR" property="zhDemoUrl" />
    <result column="eg_demo_url" jdbcType="VARCHAR" property="egDemoUrl" />
    <result column="baidu_netdisk_url" jdbcType="VARCHAR" property="baiduNetdiskUrl" />
    <result column="baidu_netdisk_pwd" jdbcType="VARCHAR" property="baiduNetdiskPwd" />
    <result column="seo_keyword" jdbcType="VARCHAR" property="seoKeyword" />
    <result column="seo_title" jdbcType="VARCHAR" property="seoTitle" />
    <result column="seo_digest" jdbcType="VARCHAR" property="seoDigest" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="disable" jdbcType="BIT" property="disable" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, title, top_category_id, category_id, breviary_pic, zh_demo_url, eg_demo_url, 
    baidu_netdisk_url, baidu_netdisk_pwd, seo_keyword, seo_title, seo_digest, tags, status, 
    disable, create_time, update_time,content,createUser,updateUser
  </sql>

  <select id="selectByParam" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/> from mng_content_info
    where top_category_id = #{topCategoryId}
    <if test="status != null">
      and status = #{status}
    </if>
    <if test="disable != null">
      and disable = #{disable}
    </if>
    <if test="title != null and title != ''">
      and title like CONCAT('%', #{title}, '%')
    </if>
    <if test="categoryId != null">
      and category_id = #{categoryId}
    </if>
     <if test="queryStartTime != null">
      and category_id = #{categoryId}
    </if>
    <if test="queryStartTime!=null">
      and create_time <![CDATA[>=]]> #{queryStartTime}
    </if>
    <if test="queryEndTime!=null">
      and #{queryEndTime} <![CDATA[>=]]> create_time
    </if>
  </select>
</mapper>